<h2>Maynard's Years Through Books</h2>
<%= link_to 'Add Book', new_book_path %>

<% @books.each do |book| %>
  <% book_info = book.author_last_name + ', ' + book.author_first_name + ': '%>
  <h5> <%= book_info %> <%= link_to book.title, book_path(book) %></h5>
<% end %>
